* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.bg--dark {
    background-color: #12121a;
    color: #fff;
}

.bg--light {
    background-color: #fff;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;
}

.message {
    position: absolute;
    padding: 5px;
    top: 10px;
    align-self: center;
    border-radius: 5px;
    box-shadow: -1px 2px 14px rgba(0, 0, 0, 0.301);
}

.message-progress {
    color: #0f0;
    background-color: transparent;
    padding: 2px;
}

.message-progress--dark {
    color: #00f;
}

.todo-list {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list-title {
    color: rgb(129, 118, 118);
    margin-bottom: 50px;
    font-weight: normal;
}

.btn {
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: all .5s ease-in-out;
}

.btn--light {
    background-color: #0f0;
}

.btn--dark {
    background-color: #00f;
}

.btn--cancel {
    background-color: #f00;
}

.btn--addTask,
.card,
.form {
    padding: 10px;
    width: 40vw;
}

.btn:hover {
    cursor: pointer;
}

.cards-container {
    margin-top: 10px;
}

.card {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 13px 0;
    align-items: flex-start;
    position: relative;
}
.card-light--shadows{
    box-shadow: 0 0 14px rgba(0, 0, 0, .300);
}
.card-dark--shadows{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.200);
}
.task--done {
    border-left: 10px solid #0f0;
}

.task-dark--done {
    border-left: 10px solid #00f;
}

.card-description {
    color: rgb(61, 61, 61);
}

.card:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.401);
    cursor: default;
}

.card-dark--shadows:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.300);
    cursor: default;
}

.card-buttons {
    width: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 5px;
}

.card-button {
    color: #fff;
    border-radius: 3px;
    font-size: 22px;
    cursor: pointer;
}

.card-button--done {
    background-color: #0f0;
}

.card-button-dark--done {
    background-color: #00f;
}

.card-button--delete {
    background-color: #f00;
}

.form {
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: -1px 2px 14px rgba(0, 0, 0, 0.401);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-title-container,
.form-desc-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 5px 5px 0 5px;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    outline: none;
}

.form-input--light {
    color: #000;
    border-bottom: 1px solid #0f0;
}

.form-input--dark {
    color: #fff;
    border-bottom: 1px solid #00f;
}

.btn--form {
    padding: 5px 0;
}

.theme-container {
    margin-top: 25px;
    right: 20px;
    position: absolute;
}

.theme-input {
    display: none;
}

.theme-label {
    position: relative;
    background-color: #fff;
    width: 50px;
    height: 25px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-shadow: -1px 2px 14px rgba(0, 0, 0, 0.401);
}

.theme-slider {
    position: absolute;
    background-color: #0f0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transition: all .5s ease-in-out;
}

.theme-input:checked~.theme-label {
    background-color: #000;
    box-shadow: -1px 2px 14px rgba(255, 255, 255, 0.300);
}

.theme-input:checked~.theme-label .theme-slider {
    transform: translateX(25px);
    background-color: #00f;
}

@media(max-width: 900px) {
    .btn--addTask,
    .card,
    .form {
        padding: 10px;
        width: 60vw;
    }
}

@media(max-width: 500px) {
    .btn--addTask,
    .card,
    .form {
        padding: 10px;
        width: 90vw;
    }
}